<!DOCTYPE html>
<html lang="en">
<head lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Login</h1>
</header>
<div xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/login}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="text" id="password" name="password"/>
        <button type="submit">Log in</button>
    </form>
    <div>Don't have an account? <a href="/register">Register</a></div>
    <div th:if="${error!=null}" th:text="${error}" style="color: red"></div>
</div>
</body>
</html>